
5LabParallelProgramming/.vs/

5LabParallelProgramming/x64/

5LabParallelProgramming/Debug/

5LabParallelProgramming/5LabParallelProgramming/Debug/

5LabParallelProgramming/5LabParallelProgramming/x64/
